<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shared Doors - {{ title }}</title>
    <link rel="shortcut icon" href="https://imgur.com/CSVenok" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-size: 13px;
        }

        #top select {
            font: inherit;
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    {% if title != "Welcome to Shared Doors" and title != "Log In" and title != "Register" and title != "Have flat?" and title != "Create flat" and title != "Join flat" %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 150%">
        <div style="vertical-align:middle"><a href="{% url 'home' %}"><img src="https://i.imgur.com/CSVenok.gif"></a>
            <a style="font-size: 160%" class="navbar-brand" href="{% url 'home' %}">Shared Doors</a>
        </div>
        <div class="nav-item dropdown">
            <a style="font-size: 160%" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Flat</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" style="font-size: 140%">
                <a class="dropdown-item" href="{% url 'leave_flat' %}">Leave flat</a>
            </div>
        </div>
        <div class="nav-item dropdown navbar-right" style="margin-right: 11%">
            <a style="font-size: 160%" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size: 140%">
                <a class="dropdown-item" href="{% url 'index' %}">Log out</a>
                <a class="dropdown-item" href="{% url 'delete_account' %}">Delete account</a>
            </div>
        </div>
    </nav>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>