{% extends "APP/base.html" %}

{% block content %}
    <h1 style="text-align: center; margin: 5%" class="display-2">Create Event</h1>
    <div style="text-align: center; margin: 4%">
    <h5><a href="{% url 'home' %}">Home</a> > <a href="{% url 'calendar' %}"> Calendar </a> > Create event</h5>
    </div>
    <form class="alert alert-primary" action="{% url 'validation_event' %}" method="post" style="text-align: center; margin: 10%">
        {% csrf_token %}
        <label for="name"><h2>Name: </h2></label><br>
        <h2><input id="name" type="text" name="name"></h2><br>
        <br>
        <label for="day"><h2>Day: </h2></label><br>
        <h2><input id="day" type="date" name="day"></h2><br>
        <br>
        <label for="type"><h2>Type: </h2></label><br>
        <h2><select onchange="displayPrice()" name="type">
          <option value="Task">Task</option>
          <option value="Payment">Payment</option>
          <option value="Menu">Menu</option>
          <option value="Birthday">Birthday</option>
        </select></h2>
        <br>
        <br>
        <div id="payment_price" style="display: none">
        <label for="price"><h2>Price: </h2></label><br>
        <h2><input value="0" id="price" type="number" name="price" step="0.01"></h2>
        <br><br>
        </div>
        <br>
        <button class="btn btn-primary" type="submit"> <h2> Create event </h2> </button>
    </form>
{% endblock %}