{% extends "APP/base.html" %}

{% block content %}
<div style="text-align: center">
    <h1 style="margin: 5%" class="display-2">Create flat</h1><br>
<form action="{% url 'validation_createflat' %}" method="post" class="alert alert-primary">
        {% csrf_token %}
        <h2><label for="flat_name">Choose a name: </label></h2><br>
        <h2><input id="flat_name" type="text" name="flat_name" value="{{ flat_name }}"></h2><br>
        <br>
        <button class="btn btn-primary" type="submit"> <h2> Create flat now </h2> </button>
    </form>
</div>
<button style="margin: 5%" onclick="location.href='{% url 'flat' %}'" type="button" class="btn btn-secondary float-left"><h1>Go back</h1></button>
{% endblock %}