{% extends "APP/base.html" %}

{% block content %}
    <h1> Create event </h1><br>
    <form action="{% url 'validation_event' %}" method="post">
        {% csrf_token %}
        <label for="name">Name: </label><br>
        <input id="name" type="text" name="name"><br>
        <br>
        <label for="day">Day: </label><br>
        <input id="day" type="date" name="day"><br>
        <br>
        <label for="type">Type: </label><br>
        <select onchange="displayPrice()" name="type">
          <option value="Task">Task</option>
          <option value="Payment">Payment</option>
          <option value="Menu">Menu</option>
          <option value="Birthday">Birthday</option>
        </select>
        <br>
        <br>
        <div id="payment_price" style="display: none">
        <label for="price">Price: </label><br>
        <input value="0" id="price" type="number" name="price" step="0.01">
        <br><br>
        </div>
        <br>
        <button type="submit"> Create event </button>
    </form>
{% endblock %}