{% extends "APP/base.html" %}

{% block content %}
    <div style="text-align: center">
    <h1 style="margin: 5%" class="display-2">{{ title }}</h1>
    <h2>{{ event.day }}</h2>
    <div style="margin: 5%" class="alert-secondary">
    <h5><a href="{% url 'home' %}">Home</a> > <a href="{% url 'calendar' %}"> Calendar </a> > {{ title }}</h5>
    </div>
    <div class="alert-primary">
    {% if event.type == 'B' %}
        <h1>Don't forget to wish a happy birthday!</h1><br>
    {% elif event.type == 'M' %}
        <h1>Eat healthy!</h1><br>
    {% elif event.is_completed and event.type == 'T' %}
        <h1>Task completed!</h1><br>
    {% elif not event.is_completed and event.type == 'T' %}
        <h1><a href="{% url 'complete' event.id %}">Complete task</a></h1><br>
        <div style="margin: 2%;">
            <button onclick="location.href='{% url 'complete' event.id %}';" class="btn btn-success">
            <h3>Complete task</h3>
            </button>
            </div>
    {% elif event.is_completed and event.type == 'P' %}
        <h1>You have already paid!</h1><br>
    {% elif not event.is_completed and event.type == 'P' %}
        <h1>Pay now via Paypal!</h1><br>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="RTJXU8YN5NC6S">
            <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_buynowCC_LG.gif" name="submit" alt="PayPal, la forma rápida y segura de pagar en Internet.">
            <img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
        </form>
    {% endif %}<br>
    {% if event.type == "P" %}
        <h2>Total price: {{ event.price }} $ </h2>
        <h2>You have to pay: {% widthratio event.price event.users.count 1 %} $ </h2>
    {% endif %}
    {% if not event.is_completed %}<br>
    <h2>Participants: </h2>
        {% for user in users %}
        {% if user not in event.users.all %}
            <div style="margin: 2%;">
            <button onclick="location.href='{% url 'add_participant' event.id user.id %}';" class="btn btn-success">
            <h3>Add {{ user.name }}</h3>
            </button>
            </div>
        {% endif %}
    {% endfor %}
    {% for user in users %}
        {% if user in event.users.all %}
            <div style="margin: 2%;">
            <h3 class="float-center"> {{ user.name }} </h3> <button onclick="location.href='{% url 'delete_participant' event.id user.id %}';" class="btn btn-danger">
            <h3>Delete participant</h3>
            </button>
            <br>
            </div>
        {% endif %}
            {% endfor %}
    {% else %}
        {% for user in users %}
            <h3 class="float-center" style="margin: 5%"> {{ user.name }} got 100 points from {{ event.name }} </h3>
        {% endfor %}
    {% endif %}
    <br><br>
    </div>
    </div>
    <button style="margin: 8%" onclick="location.href='{% url 'delete_event' event.id %}';" class="btn btn-danger float-right">
    <h1>Delete event</h1>
    </button>

    <button style="margin: 8%" onclick="location.href='{% url 'edit_event' event.id %}';" class="btn btn-secondary float-left">
    <h1>Edit event</h1>
    </button>
{% endblock %}