{% extends "APP/base.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="{% static "css/snackbar.css" %}" rel="stylesheet">
    <script src="{% static 'js/clipboard.js' %}"></script>
{% endblock %}
{% block content %}
    <div style="margin: 10%; text-align: center">
    <h1 id="charttag" style="margin: 5%" class="display-2">Home</h1>
    <br>
<h2> Hello {{ user.name }}, welcome to {{ flat.name }}!</h2>
    <h2 style="margin-top: 5%">Flat key: {{ flat.key }}  <button data-copy="{{ flat.key }}" title="Copy to clipboard" class="btn btn-copy btn-default js-copy"><i class="far fa-clipboard"></i></button></h2> <br><br><br>
    <button style="margin: 5%" onclick="location.href='{% url 'calendar' %}';" class="btn btn-primary btn-lg">
            <h1>Calendar</h1>
            </button><br>
    <button style="margin: 5%" onclick="location.href='{% url 'score' %}';" class="btn btn-primary btn-lg">
            <h1>Scores</h1>
            </button>
    </div>
    <div id="snackbar">Key copied to clipboard!</div>

{% endblock %}