{% extends "APP/base.html" %}

{% block content %}
    <div style="margin: 10%; text-align: center">
    <h1 id="charttag" style="margin: 5%" class="display-2">Home</h1>
    <div style="margin: 5%" class="alert-secondary">
    <h5>Home</h5>
    </div>

<h2> Welcome home {{ user.name }}</h2>
    <h2 style="margin: 10%"> You are currently allocated in {{ flat.name }} <a href="{% url 'get_key' %}">Copy flat key to clipboard</a></h2>
<button style="margin: 5%" onclick="location.href='{% url 'calendar' %}';" class="btn btn-primary">
            <h1>Calendar</h1>
            </button><br>
    <button style="margin: 5%" onclick="location.href='{% url 'score' %}';" class="btn btn-primary">
            <h1>Scores</h1>
            </button>
    </div>
{% endblock %}