{% extends "APP/base.html" %}

{% block content %}
<h1 style="text-align: center; margin: 10%" class="display-2">Welcome to <br> Shared Doors</h1><br>
<div style="text-align: center">
    <button style="margin: 5%" onclick="location.href='{% url 'login' %}';" class="btn btn-primary">
            <h1>Log in</h1>
            </button><br>
    <button style="margin: 5%" onclick="location.href='{% url 'register' %}';" class="btn btn-primary">
            <h1>Register</h1>
            </button>
</div>
{% endblock %}