{% extends "APP/base.html" %}
{% block head %}
{% load static %}
<link href="{% static "css/index.css" %}" rel="stylesheet">
{% endblock %}
{% block content %}
<h1 style="text-align: center; margin: 10%;" class="display-2">Welcome to <br> Shared Doors</h1><br>
<div style="text-align: center">
    <button style="margin: 5%" onclick="location.href='{% url 'login' %}';" class="btn btn-primary btn-lg">
            <h1>Log in</h1>
            </button><br>
    <button style="margin: 5%" onclick="location.href='{% url 'register' %}';" class="btn btn-primary btn-lg">
            <h1>Register</h1>
            </button>
</div>
{% endblock %}