{% extends "APP/base.html" %}

{% block content %}
<h1 style="text-align: center; margin: 5%" class="display-2">Log In</h1><br>
    <div style="text-align: center">
    <form action="{% url 'validation_login' %}" method="post" class="alert alert-primary">
        {% csrf_token %}
        <h2><label for="your_mail">Enter your email: </label></h2><br>
        <h2><input pattern="^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$" id="your_mail" type="text" name="mail" value="{{ mail }}"></h2><br>
        <br>
        <h2><label for="your_pass">Enter your password: </label></h2><br>
        <h2><input id="your_pass" type="password" name="pass" value="{{ pass }}"></h2><br>
        <br>
        <button class="btn btn-primary" type="submit"> <h2> Log in now </h2> </button>
    </form>
    </div>
<button style="margin: 5%" onclick="location.href='{% url 'index' %}'" type="button" class="btn btn-secondary float-left"><h1>Go back</h1></button>
{% endblock %}