{% extends "APP/base.html" %}

{% block content %}
    <div style="text-align: center; margin: 5%"">
    <h1 class="display-2">Register</h1><br><br>
    <form action="{% url 'validation_register' %}" method="post" class="alert alert-primary" style='margin: 10%'>
        {% csrf_token %}
        <h2><label for="name">Name: </label></h2><br>
        <h2><input id="name" type="text" name="name" value="{{ user_name }}"></h2><br>
        <br>
        <h2><label for="mail">Email: </label></h2><br>
        <h2><input pattern="^[_A-z0-9-]+(.[_A-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$" id="mail" type="text" name="mail" value="{{ user_mail }}"></h2><br>
        <br>
        <h2><label for="pass">Password: </label></h2><br>
        <h2><input pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$" id="pass" type="password" name="pass" value="{{ user_pass }}"></h2><br>
        <br>
        <h2><label for="pass2">Password verification: </label></h2><br>
        <h2><input id="pass2" type="password" name="pass2" value="{{ user_pass2 }}"></h2><br>
        <br>
        <button class="btn btn-primary" type="submit"> <h2> Register now </h2> </button>
    </form>
    </div>
<button style="margin: 5%" onclick="location.href='{% url 'index' %}'" type="button" class="btn btn-secondary float-left"><h1>Go back</h1></button>
{% endblock %}
