{% extends "APP/base.html" %}

{% block head %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawStuff);

        function drawStuff() {
            var rawData = [];
            var i = 1;
            rawData[0] = ['User', 'Score']
            {% for user in user_list %}
                {% if monthly %}
                rawData [i] = ['{{ user.name }}', {{ user.points_monthly }}];
                {% else %}
                    document.getElementById("link").style.visibility = "hidden";
                rawData [i] = ['{{ user.name }}', {{ user.points_total }}];
                {% endif %}
                i++;
            {% endfor %}
            var data = new google.visualization.arrayToDataTable(rawData);
            var options = {
                title: '{{ type }} score',
                legend: { position: 'none' },
                chart: { title: '{{ type }} score',
                    subtitle: 'Based on the calendar' },
                bars: 'horizontal',
                axes: {
                    x: {
                        0: { side: 'top', label: 'Points'}
                    }
                },
                bar: { groupWidth: "90%" }
            };

            var chart = new google.charts.Bar(document.getElementById('chart'));
            chart.draw(data, options);
        };
    </script>
{% endblock %}
{% extends "APP/base.html" %}

{% block content %}
<div id="chart"></div>
<p id="link"><a href="{% url 'score_total' %}">Total scores</a> </p>
{% endblock %}